################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/build/
bin
obj
/WebAPI/bin
/WebAPI/obj
Debug/
Release/
/WebAPI/bin/Debug/net6.0/appsettings.json
